<%layout("/layouts/boilerplate")%>

    <div class="row mt-3">
        <div class="col-8 offset-2 new-listing">

            <h3 class="list-name">CREATE A NEW LISTING</h3>
            <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">


                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Add a catchy title" type="text" class="form-control"
                        required>
                    <div class="valid-feedback">looks good!</div>
                    <class class="invalid-feedback">title should be valid</class>

                </div>


                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="enter description" class="form-control"
                        required></textarea>
                    <class class="invalid-feedback">please enter a short description</class>
                </div>


                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]" type="file" class="form-control">
                    required
                </div>



                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1,200" class="form-control" required>
                        <class class="invalid-feedback">price should be valid</class>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]" placeholder="India" type="text" class="form-control" required>
                        <class class="invalid-feedback">country should be valid</class>
                    </div>

                </div>



                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Gaya, Bihar" type="text" class="form-control" required>
                    <class class="invalid-feedback">location should be valid</class>
                </div>


                <button class="btn btn-dark add-btn mt-3">ADD</button>

            </form>
        </div>
    </div>